@import "../../less/colors.less";

.box{
    border: solid 1px lightgrey;
    outline: none;
    padding: 4px;
    margin: 16px;
    font-size: 14px;
    color: @grey800;
}

.select{
    .box();
    width: 500px;
}

.select option {
    color: @grey800;
}

.select optgroup {
color: @grey600;
}

.field{
    > label {
        width: 150px;
        display: inline-block;
        padding: 16px;
        font-size: 14px;
    }
> input {
        .box();
        width: 750px;
    }
> textarea {
        .box();
        width: 750px;
        height: 250px;
        vertical-align: top;
    }
}

.button{
    border: none;
    padding: 8px 16px;
    outline: none;
    cursor: pointer;
    margin-left: 16px;
    &:active{
        background-color: @grey300;
    }    
}

.response{
    .box();
    width: 1000px;
    height: 642px;
}

.postResponse{
    .response();
    height: 350px;
}